[Unit]
Description=Gitea container
After=network-online.target

[Container]
Image={{ gitea_image }}
ContainerName=gitea
PublishPort={{ gitea_port }}:3000
Volume=gitea-data:/data:Z

[Service]
TimeoutStartSec=120
Restart=on-error

[Install]
WantedBy=multi-user.target