[Unit]
Description=Gitea container
After=network-online.target

[Container]
Image={{ gitea_image }}
ContainerName=gitea
PublishPort={{ gitea_port }}:3000
PublishPort=222:22
Volume=gitea-data:/data:Z
Environment=USER_UID=1000
Environment=USER_GID=1000


[Service]
TimeoutStartSec=120
Restart=on-error

[Install]
WantedBy=multi-user.target