---
# This task configures the image builder server for building customized RHEL 
# Images for vpac
- name: Run the osbuild setup_server role to configure imagebuilder host
  ansible.builtin.import_role:
    name: infra.osbuild.setup_server  
- name: Update imagebuilder sources for RT and NFV packages
  block:
  - name: Update imagebuilder sources for HA rpm packages
    ansible.builtin.tempfile:
      state: file
      suffix: toml
    register: highavailability
  - name: Update highavailability toml file
    ansible.builtin.copy:
      dest: "{{ highavailability.path }}"
      content: |
        id = "highavailability-os"
        name = "Highavailability OS packages"
        type = "yum-baseurl"
        url = "https://cdn.redhat.com/content/dist/rhel9/9/{{ ansible_architecture }}/highavailability/os/"
        check_gpg = true
        check_ssl = true
        system = false
        rhsm = true
      owner: root
      group: root
      mode: u=rw,g=r,o=r
  - name: Create a temp realtime-baseos.toml file
    ansible.builtin.tempfile:
      state: file
      suffix: toml
    register: realtime_baseos
  - name: Update realtime baseos toml file
    ansible.builtin.copy:
      dest: "{{ realtime_baseos.path }}"
      content: |
        id = "realtime-baseos"
        name = "Realtime baseos packages"
        type = "yum-baseurl"
        url = "https://cdn.redhat.com/content/dist/rhel9/9/{{ ansible_architecture }}/rt/os/"
        check_gpg = true
        check_ssl = true
        system = false
        rhsm = true
      owner: root
      group: root
      mode: u=rw,g=r,o=r 
  - name: Create a temp nfv-baseos toml file
    ansible.builtin.tempfile:
      state: file
      suffix: toml
    register: nfv_baseos
  - name: Update NFV baseos toml file
    ansible.builtin.copy:
      dest: "{{ nfv_baseos.path }}"
      content: |
        id = "nfv-baseos"
        name = "NFV baseos packages"
        type = "yum-baseurl"
        url = "https://cdn.redhat.com/content/dist/rhel9/9/{{ ansible_architecture }}/nfv/os/"
        check_gpg = true
        check_ssl = true
        system = false
        rhsm = true
      owner: root
      group: root
      mode: u=rw,g=r,o=r
  - name: Create a temp toml file for epel
    ansible.builtin.tempfile:
      state: file
      suffix: toml
    register: epel
  - name: update toml file
    ansible.builtin.copy:
      dest: "{{ epel.path }}"
      content: |
        id = "epel"
        name = "Extra Packages for Enterprise Linux"
        type = "yum-metalink"
        url = "https://mirrors.fedoraproject.org/metalink?repo=epel-9&arch=x86_64"
        check_gpg = true
        check_ssl = true
        system = false
        rhsm = false
        check_repogpg = false
        gpgkeys = ["https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9"]
  - name: create temp toml file for codeready
    ansible.builtin.tempfile:
      state: file
      suffix: toml
    register: codeready
  - name: Update toml file
    ansible.builtin.copy:
      dest: "{{ codeready.path }}"
      content: |
        id = "rhel-9-crb"
        name = "RHEL 9 CodeReady Builder"
        type = "yum-baseurl"
        url = "https://cdn.redhat.com/content/dist/rhel9/9/x86_64/codeready-builder/os/"
        check_gpg = true
        check_ssl = true
        system = false
        rhsm = true
  - name: Add to imagebuilder sources
    ansible.builtin.command: "sudo composer-cli sources add {{ item }}"
    loop:
    - "{{ highavailability.path }}"
    - "{{ realtime_baseos.path }}"
    - "{{ nfv_baseos.path }}"
    - "{{ epel.path }}"
    - "{{ codeready.path }}"
