---
# This task creates windows virtual machine on virtualization host
- name: Start
  ansible.builtin.debug:
    msg: "Starting create windows virtual machine with qcow2 disk image"

- name: Create the disk image

- name: Create the windows 11 vm
  ansible.builtin.command: |
    virt-install --connect qemu:///system \
      --name {{ vm_name }} \
      --memory {{ vm_memory }} \
      --vcpus {{ vm_vcpus }} \
      --disk path={{ vm_root_dir }}/{{ vm_name }}/{{ vm_name }}_disk.qcow2,bus=virtio \
      --disk path={{ software_dir }}/{{ windows_iso }},device=cdrom,boot.order=1 \
      --disk path={{ software_dir }}/virtio-win-0.1.285.iso,device=cdrom \
      --os-variant win11 \
      --network network=default,model=virtio \
      --boot cdrom,hd,menu=off \
      --graphics vnc \
      --noautoconsole
  async: "{{ wait }}"
  poll: 0
  register: install_task

- name: Wait for virt install to complete
  ansible.builtin.async_status:
    jid: "{{ install_task.ansible_job_id }}"
  register: install_result
  until: install_result.finished
  retries: "{{ retries }}"
  delay: "{{ delay }}"

- name: debug
  ansible.builtin.debug:
    var: install_task