---
# This tasks creates autounattend floppy disk image for unattended installation 
# of windows 11
- name: Start
  ansible.builtin.debug:
    msg: "Starting building autounattend floppy disk image"

- name: Create a temp directory
  ansible.builtin.tempfile:
    suffix: auto
    state: directory
  register: tempdir_result

- name: Set directory path in fact
  ansible.builtin.set_fact:
    outdir: "{{ tempdir_result.path }}"

- name: Create autounattend.xml file from the template
  ansible.builtin.template:
    src: 'autounattend.xml.j2'
    dest: "{{ outdir }}/autounattend.xml"

- name: Create a floppy disk image
  ansible.builtin.shell: |
    dd if=/dev/zero of={{ outdir }}/autounattend.img bs=1M count=2

- name: Create a new filesystem on the disk
  ansible.builtin.shell: |
    mkfs.vfat {{ outdir }}/autounattend.img

- name: Copy the windows answerfile to the disk
  ansible.builtin.shell: |
    mcopy -i {{ outdir }}/autounattend.img {{ outdir }}/autounattend.xml ::

- name: Move the floppy disk image to libvirt_images_dir
  ansible.builtin.shell: |
    mv {{ outdir }}/autounattend.img {{ libvirt_images_dir }}/autounattend.img

- name: End
  ansible.builtin.debug:
    msg: "Finished building autounattend floppy disk image"