---
# this task creates a custom windows 11 ISO with answerfile for unattended installation
- name: Start
  ansible.builtin.debug:
    msg: "Starting building autounattend disk image"

- name: Creating windows answer file
  block:
  - name: Create a temp directory
    ansible.builtin.tempfile:
      suffix: auto
      state: directory
    register: tempdir_result
  - name: Set directory path in fact
    ansible.builtin.set_fact:
      outdir: "{{ tempdir_result.path }}"
  - name: Create autounattend.xml file from the template
    ansible.builtin.template:
      src: 'autounattend.xml.j2'
      dest: "{{ outdir }}/autounattend.xml"

- name: Mount the Windows ISO
  block:
  - name: Create a directory under mnt
    ansible.builtin.file:
      state: directory
      path: /mnt/win11iso
      owner: root
      mode: 0644
  - name: Mount the ISO
    ansible.builtin.shell: |
      mount -o loop {{ software_dir }}/{{ windows_iso }} /mnt/win11iso

- name: Copy all files from original ISO
  ansible.builtin.copy:
    src: "/mnt/win11iso/"
    dest: "{{ outdir }}"

- name: Unmount original ISO
  ansible.builtin.shell: |
    umount /mnt/win11iso

- name: Make a new custom ISO
  ansible.builtin.shell: |
    mkisofs \
      -iso-level 4 \
      -rock \
      -disable-deep-relocation \
      -untranslated-filenames \
      -b boot/etfsboot.com \
      -no-emul-boot \
      -boot-load-size 8 \
      -eltorito-alt-boot \
      -eltorito-platform efi \
      -b efi/microsoft/boot/efisys_noprompt.bin \
      -o {{ software_dir }}/{{ customized_windows_iso }} \
      {{ outdir }}
