---
# This tasks creates autounattend floppy disk image for unattended installation 
# of windows 11
- name: Start
  ansible.builtin.debug:
    msg: "Starting building autounattend floppy disk image"

- name: Creating windows answer file
  block:
  - name: Create a temp directory
    ansible.builtin.tempfile:
      suffix: auto
      state: directory
    register: tempdir_result
  - name: Set directory path in fact
    ansible.builtin.set_fact:
      outdir: "{{ tempdir_result.path }}"
  - name: Create autounattend.xml file from the template
    ansible.builtin.template:
      src: 'autounattend.xml.j2'
      dest: "{{ outdir }}/autounattend.xml"

- name: Create a raw disk image for windows setup to discover autounattend xml file
  ansible.builtin.shell: |
    qemu-img create -f raw {{ libvirt_images_dir }}/autounattend.img 64M

- name: Format the autounattend disk as FAT32
  block:
  - name: First attach a loop device
    ansible.builtin.shell: |
      losetup -fP {{ libvirt_images_dir }}/autounattend.img
  - name: run losetup -a
    ansible.builtin.shell: |
      losetup -a 
    register: find_loop_device_result
  - name: Set device in fact
    ansible.builtin.set_fact:
      device_name: "{{ find_loop_device_result.stdout.split(':')[0] }}"
  
- name: Create a FAT32 filesystem
  ansible.builtin.shell: |
    mkfs.vfat -F 32 {{ device_name }}

- name: Mount the autounattend disk
  block:
  - name: Make an autounattend directory under mnt
    ansible.builtin.shell: |
      mkdir -p /mnt/autounattend
  - name: Mount the device
    ansible.builtin.shell: |
      mount {{ device_name }} /mnt/autounattend

- name: Copy the windows autounattend.xml answer file to the disk
  ansible.builtin.shell: |
    cp {{ outdir }}/autounattend.xml /mnt/autounattend \ 
    && sync

- name: Unmount and detach device
  ansible.builtin.shell: |
    umount /mnt/autounattend \ 
    && losetup -d {{ device_name }}

- name: End
  ansible.builtin.debug:
    msg: "Finished building autounattend floppy disk image"