---
# This tasks creates autounattend iso file for unattended installation 
# of windows 11
- name: Start
  ansible.builtin.debug:
    msg: "Starting building autounattend.iso"

- name: Create a raw disk for autounattend file
  ansible.builtin.shell: |
    qemu-img create -f raw {{ libvirt_images_dir }}/autounattend.disk.img 10M

- name: Create a folder to mount the disk
  ansible.builtin.file:
    path: /mnt/autounattend
    state: directory

- name: Mount the disk
  ansible.builtin.shell: |
    mount -o loop {{ software_dir }}/autounattend.disk.img /mnt/autounattend 
  
- name: Create a temp directory
  ansible.builtin.tempfile:
    suffix: auto
    state: directory
  register: tempdir_result

- name: Set directory path in fact
  ansible.builtin.set_fact:
    outdir: "{{ tempdir_result.path }}"

- name: Create autounattend.xml file from the template
  ansible.builtin.template:
    src: 'autounattend.xml.j2'
    dest: "{{ outdir }}/autounattend.xml"

- name: Copy the autounattend to destination
  ansible.builtin.copy:
    src: "{{ outdir }}/autounattend.xml"
    destination: /mnt/autounattend

- name: Unmount the disk
  ansible.builtin.shell: |
    umount /mnt/autounattend

- name: End
  ansible.builtin.debug:
    msg: "Finished building autounattend.iso"