---
# preflight steps
- name: Install packages
  ansible.builtin.dnf:
    state: latest
    name: "{{ packages }}"
  vars:
    packages:
    - mkisofs

- name: Check windows 11 pro iso image exists on the virtualization host
  ansible.builtin.stat:
    path: "{{ vm_root_dir }}/{{ vm_name }}/{{ vm_name }}_disk.qcow2"
  register: file_stat

- name: Check if file exists
  ansible.builtin.fail:
    msg: "Pre-requisite not met: Cannot find disk image in {{ vm_root_dir }}/{{ vm_namne }} directory."
  when: not file_stat.stat.exists
